/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    //CSS

}

/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {

    //CSS

}

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    #features .feat-text h2 {
        font-size: 16px !important;
    }

    #notified .noti-text h2 {
        font-size: 20px;
    }

    #notified .btn-grop {
        margin: 10px 0px;
    }

    #notified .noti-video {
        margin-top: 20px;
    }

    #notified .noti-video video {
        width: 330px;
        height: 186px;
    }

    #testimonlils .testimon-text p {
        text-align: center !important;
    }

    #fooder .food-text p {
        font-size: 14px !important;
    }
}

/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    //CSS

}

/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {

    //CSS

}

/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    #testimonlils .testimon-text p {
        text-align: center !important;
    }

    #notified .noti-video video {
        width: 250px;
        height: 142px;
    }

}
